@model List<UserTransaction>
@{
    ViewData["Title"] = "AllTransactionByClientId";
}

<h2>All Transactions By ClientId</h2>

<!--@Html.ActionLink("Wykonaj przelew", "CreateSchool", "BankAccount")-->
<a class="btn btn-success" asp-controller="BankAccount" asp-action="NewTransaction"><span class="glyphicon glyphicon-plus"></span>Wykonaj przelew</a>

@if (Model.Count() > 0)
{
    <table class="table table-hover">
        <thead>
        @*<th>Id Transakcji</th>*@
        <th>Wysyłający</th>
        <th>Odbiorca</th>
        <th>Data wykonania</th>
        <th>Tytuł</th>
        <th>Kwota</th>

        </thead>
        <tbody>
            @foreach (UserTransaction transaction in Model)
            {
                <tr>
                    @*<td>@transaction.TransactionId</td>*@
                    <td>@transaction.Sender.AccountNumber</td>
                    <td>@transaction.Recipient.AccountNumber</td>
                    <td>@transaction.ExecutionDate.ToString("yyyy-MM-dd h:mm")</td>
                    <td>@transaction.Title</td>
                    <td>@transaction.Amount</td>

                    @if (true)
                    {

                        <td>@Html.ActionLink("Details", "TransactionDetails", "BankAccount", new { @id = transaction.TransactionId })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center alert-info">
        <h1>Brak transakcji.</h1>
    </div>
}